import os
import re
import nltk
import time
import random
import numpy as np
import pandas as pd
import seaborn as sns
import streamlit as st
import scipy.sparse as sp
import matplotlib.pyplot as plt
from wordcloud import WordCloud
from collections import Counter
from sklearn.manifold import TSNE
from nltk.corpus import stopwords
from gensim.models import LdaModel
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN
from collections import defaultdict
from gensim.corpora import Dictionary
from sklearn.decomposition import PCA
from sklearn.decomposition import NMF
from gensim.models import CoherenceModel
from gensim.matutils import Sparse2Corpus
from gensim.models.ldamodel import LdaModel
from sklearn.cluster import SpectralClustering
from sklearn.decomposition import TruncatedSVD
from sklearn.metrics.pairwise import rbf_kernel
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import davies_bouldin_score
from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import calinski_harabasz_score
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity
from nltk.tokenize import word_tokenize, sent_tokenize
from scipy.cluster.hierarchy import dendrogram, linkage
from gensim.models.coherencemodel import CoherenceModel
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.decomposition import LatentDirichletAllocation
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from sklearn.metrics import silhouette_score as sil_score # ensure there is no conflict with any variable or function named silhouette_score